<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.internationalLogistics.mapper.InspectionPOMapper" >
  <resultMap id="BaseResultMap" type="com.internationalLogistics.entity.po.InspectionPO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="domesic_code" property="domesicCode" jdbcType="VARCHAR" />
    <result column="international_code" property="internationalCode" jdbcType="VARCHAR" />
    <result column="port_name" property="portName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, domesic_code, international_code, port_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_inspection
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_inspection
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.internationalLogistics.entity.po.InspectionPO" >
    insert into t_inspection (id, domesic_code, international_code, 
      port_name)
    values (#{id,jdbcType=VARCHAR}, #{domesicCode,jdbcType=VARCHAR}, #{internationalCode,jdbcType=VARCHAR}, 
      #{portName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.internationalLogistics.entity.po.InspectionPO" >
    insert into t_inspection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="domesicCode != null" >
        domesic_code,
      </if>
      <if test="internationalCode != null" >
        international_code,
      </if>
      <if test="portName != null" >
        port_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="domesicCode != null" >
        #{domesicCode,jdbcType=VARCHAR},
      </if>
      <if test="internationalCode != null" >
        #{internationalCode,jdbcType=VARCHAR},
      </if>
      <if test="portName != null" >
        #{portName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.internationalLogistics.entity.po.InspectionPO" >
    update t_inspection
    <set >
      <if test="domesicCode != null" >
        domesic_code = #{domesicCode,jdbcType=VARCHAR},
      </if>
      <if test="internationalCode != null" >
        international_code = #{internationalCode,jdbcType=VARCHAR},
      </if>
      <if test="portName != null" >
        port_name = #{portName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.internationalLogistics.entity.po.InspectionPO" >
    update t_inspection
    set domesic_code = #{domesicCode,jdbcType=VARCHAR},
      international_code = #{internationalCode,jdbcType=VARCHAR},
      port_name = #{portName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>